{% extends "base.html" %}

{% load static %}

{% block content %}
    <main class="container">
        <section class="fav-content">
            <div class="row">
                <div class="col-md-8">
                    <h1>Вакансия</h1>
                    <div style="height: 26px;"></div>
                    <h4><strong>Название: </strong>{{ application.vacancy.name }}</h4>
                    <h4><strong>Обязанности: </strong>{{ application.vacancy.responsibilities }}</h4>
                    <h4><strong>Требования: </strong>{{ application.vacancy.requirements }}</h4>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/favorites.png' %}" class="intro-image">
                </div>
            </div>
            <h1>Выбранные города для размещения Вашей вакансии</h1>
            <div style="height: 20px;"></div>
        </section>
    
        <div class="cards-wrapper d-flex flex-column">
        
            {% for city in application.cities %}

                {% include "city_card.html" %}

            {% endfor %}
 
        </div>
        
        <div style="height: 222px;"></div>

    </main>
{% endblock content %}