{% load static %}


{% if "http://localhost:8000/vacancy_applications/" in request.build_absolute_uri %}

    <div class="fav-card">
         <div class="row">
            <div class="col-md-2 d-flex justify-center">
                <img src="{{ city.item.url }}">
            </div>
            <div class="col-md-10">
                <div class="fav-card-body">
                    <h5> {{ city.item.name }} </h5>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Количество вакансий: </label>
                            </div>
                            <div class="col-md-9">
                                <input disabled type="number" class="form-control" value="{{ city.count }}">
                            </div>
                        </div>
                    </div>
                    
                    <a href="/cities/{{ city.item.city_id }}/" class="fav-btn-open">
                        Открыть
                    </a>
                    
                </div>
            </div>
         </div>
    </div>

{% else %}
    
    <div class="city-card">
        <div class="city-card-body">
            <div class="city-card-img">
                <img src="{{ city.url }}" alt="{{ city.name }}">
            </div>
            <h5 class="city-name">{{ city.name }}</h5>
            <p class="city-info">
                Население: <span class="statistics">{{ city.population }} </span><br>
                Средняя зарплата: <span class="statistics">{{ city.salary }} тыс.</span><br>
                Уровень безработицы: <span class="statistics">{{ city.unemployment_rate }} %</span>
            </p>
            <a href="/cities/{{ city.city_id }}/" class="city-btn">Подробнее</a>
            
            <form action="{% url 'add_city_to_draft' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="city_id" value="{{ city.city_id }}">
                <button type="submit" class="city-btn">Добавить в заявку</button>
            </form>
            
            <div style="height: 11px;"></div>
            
        </div>
    </div>
    
{% endif %}