{% extends "base.html" %}

{% load static %}

{% block content %}
    <main class="container">
        <section class="fav-content">
            <div class="row">
                <div class="col-md-8">
                    <h1>Вакансия</h1>
                    <div style="height: 26px;"></div>
                    <h4><strong>Название: </strong>{{ vacancy_application.vacancy_name }}</h4>
                    <h4><strong>Обязанности: </strong>{{ vacancy_application.vacancy_responsibilities }}</h4>
                    <h4><strong>Требования: </strong>{{ vacancy_application.vacancy_requirements }}</h4>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/favorites.png' %}" class="intro-image">
                </div>
            </div>
            <h1>Выбранные города для размещения Вашей вакансии</h1>
            <div style="height: 20px;"></div>
        </section>
    
        <div class="cards-wrapper d-flex flex-column">
        
            {% for city in cities %}

                {% include "city_card.html" %}

            {% endfor %}
 
        </div>
    
        <form action="{% url 'delete_vacancy_application' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="app_id" value="{{ vacancy_application.app_id }}">
            <div class="common-btn-container">
                <button type="submit" class="common-btn">Удалить заявку</button>
            </div>
        </form>
        
        <div style="height: 222px;"></div>

    </main>
{% endblock content %}